# Segmenting and Clustering Neighbourhoods in Toronto¶

## Part 1

In [1]:
import pandas as pd
import numpy as np
import requests

Get the HTML page of Wiki, and using read_html to convert the html data into list of Data frame objects.

Remove cells which have Borough not assigned.

In [2]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki)

wiki_raw = pd.read_html(wiki_page.content, header = 0)[0]

# Check blank neighbourhood & Borough
np.unique(wiki_raw[wiki_raw.Neighbourhood == 'Not assigned']['Borough'])

array(['Not assigned'], dtype=object)

It turns out if Not assigned Neighbourhood has also Not assigned Borough.
Thus we could remove all the Not assigned Neighbourhood

In [3]:
df = wiki_raw[wiki_raw.Neighbourhood != 'Not assigned']
df.reset_index(inplace = True)
df.head()

,index,Postal Code,Borough,Neighbourhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [4]:
df.groupby(['Postal Code']).first()

,index,Borough,Neighbourhood
Postal Code,,,
M1B,9,Scarborough,"Malvern, Rouge"
M1C,18,Scarborough,"Rouge Hill, Port Union, Highland Creek"
M1E,27,Scarborough,"Guildwood, Morningside, West Hill"
M1G,36,Scarborough,Woburn
M1H,45,Scarborough,Cedarbrae
...,...,...,...
M9N,98,York,Weston
M9P,107,Etobicoke,Westmount
M9R,116,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
M9V,143,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
M9W,152,Etobicoke,"Northwest, West Humber - Clairville"

The new Wiki link already has neighbourhood merged according to Postal Code and Borough

In [5]:
len(df['Postal Code'].unique())

103

In [6]:
# Check Borough not assigned --> None
df[df['Borough'] == 'Not assigned']

Empty DataFrame
Columns: [index, Postal Code, Borough, Neighbourhood]
Index: []

In [7]:
df.shape

(103, 4)

## Part 2

In [8]:
!pip install geocoder

Requirement already satisfied: geocoder in d:\programdata\anaconda3\envs\datascience\lib\site-packages (1.38.1)
Requirement already satisfied: six in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from geocoder) (1.15.0)
Requirement already satisfied: ratelim in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from geocoder) (2.25.1)
Requirement already satisfied: click in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: decorator in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from requests->geocoder) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\programdata\anaconda3\envs\datascience\lib\site-packages (from requests->geocoder) (1.26.2)

Import geocoder lib to fetch latitude and longitude + download the csv file url

In [9]:
import geocoder 
url = 'http://cocl.us/Geospatial_data'

In [10]:
# Read the dataframe
df_geo = pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
# Check the datatypes of url
df_geo.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [12]:
# Check the datatypes from wikipedia
df.dtypes

index             int64
Postal Code      object
Borough          object
Neighbourhood    object
dtype: object

In [13]:
# Ensure same row size before joining the df
print('URL shape: ', df.shape)
print('Wikipedia shape: ', df_geo.shape)

URL shape:  (103, 4)
Wikipedia shape:  (103, 3)

Join the df using merge method and clean it with the index

In [17]:
df_joined = df.merge(df_geo, how='inner', on='Postal Code')
df_joined = df_joined.set_index('index')
df_joined.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
index,,,,,
2,M3A,North York,Parkwoods,43.753259,-79.329656
3,M4A,North York,Victoria Village,43.725882,-79.315572
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [18]:
df_joined.shape

(103, 5)

In [16]:
df_joined

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
index,,,,,
2,M3A,North York,Parkwoods,43.753259,-79.329656
3,M4A,North York,Victoria Village,43.725882,-79.315572
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
165,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999